<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
	<appSettings>
		<add key="minRateLimit" value="3" />
		<!-- big / medium / small -->
		<add key="size" value="big"/>
		<add key="filter-common" value="@SansMouse @hercegtomas @plavacek Foursquare *porno* *sex*" />
		<add key="filter-nort" value="rt@all" />
		<add key="filter-notimeline" value="timeline@all" />
		<add key="filter-morning" value="filter-common twidaq @ch9 Foursquare @ipavlovi @podnikatel" />
		<add key="upCount" value="20" />
		<add key="statusesDownloadInterval" value="180" /> <!-- (seconds) interval between downloads of timeline/friends statuses in TwitterClient -->

    <!-- 948382 is full-time-->
    <add key="toDownload" value="timeline; mentions; list 948382"/>
	</appSettings>
	<log4net>
		<appender name="udpAppender" type="log4net.Appender.UdpAppender">
			<param name="RemoteAddress" value="127.0.0.1" />
			<param name="RemotePort" value="8080" />
			<layout type="log4net.Layout.XmlLayout">
				<param name="Prefix" value="" />
			</layout>
			<param name="threshold" value="OFF" />
		</appender>
		<appender name="logfileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="TwitterClient.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="5MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%d] %t %c{2}: %m %n" />
			</layout>
			<param name="threshold" value="WARN" />
		</appender>
		<root>
			<appender-ref ref="udpAppender" />
			<appender-ref ref="logfileAppender" />
		</root>
	</log4net>
</configuration>