<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
	<appSettings>
		<add key="minRateLimit" value="30" />
		<!-- big / medium / small -->
		<add key="size" value="medium"/>
	</appSettings>
	<log4net>
		<appender name="udpAppender" type="log4net.Appender.UdpAppender">
			<param name="RemoteAddress" value="127.0.0.1" />
			<param name="RemotePort" value="8080" />
			<layout type="log4net.Layout.XmlLayout">
				<param name="Prefix" value="" />
			</layout>
		</appender>
		<root>
			<appender-ref ref="udpAppender" />
			<level value="INFO" />
		</root>
	</log4net>
</configuration>